body {
  overflow-x: hidden;
  background-color: #7bc7d8;
}

.containers {
  width: 1515px;
  margin: auto;
}

a {
  text-decoration: none;
}

.menu {
  /* position: fixed;
  height: 100vh; */
  background-color: #130f40;
}

.tostify {
  position: absolute;
  z-index: 100000;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px 0;
  background-color: chartreuse;
  color: #fff;
  border-radius: 5px;
  transition: all 1s ease;
  transform: translateX(200%);
}

.content {
  max-width: 500px;
  margin: 80px auto 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.modal-alert {
  position: relative;
  top: 12px;
  margin: 0 auto;
  max-width: 300px;
  transition: all 0.5s linear;
}

.alert-hover {
  transform: translateY(-120%);
}
